body {
    background-color: rgb(255, 255, 165);
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.link-button {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link-button:hover {
  background-color: #00b39b;
  transform: scale(1.05);
}